/* LockScreen.css */
.lock-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* background-color: #f0f0f0; */
  }
  
  .lock-screen input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
  
  .lock-screen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  